
page-login{
  #principal{
    height: 100%;
    background-color: #11db94;
  }


  #titulo img{
    width: 100px;
    height: 100px;
  }

  #titulo h3{
    color: white;
  }



  form{
    padding: 30px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .butao-entrar, ion-item{
    padding-top: 40px;
  }
}



