page-produtos-disponibilizados {

  ion-card{
    padding: 0!important;
  }


  ion-card-content, ion-grid{
    padding: 0 !important;
    margin: 0 !important;
  }

  ion-card-content .esquerda{
    background-color: #0d81ff;

    div.ion-icon-content{
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background-color: rgba(0,0,0, 0.06);
      color: #fff;
      font-size: 20pt;
      margin-top: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      margin-left:auto;
    }

    p.nome-produto{
      margin-top: 15px;
      color: white;
      margin-right: auto;
      margin-left: auto;
    }
    p.quantidade{
      margin-top: 5px;
      color: white;
      margin-right: auto;
      margin-left: auto;
    }
  }

  div.message-empty{

    margin-top:200px;
    margin-bottom:auto;

    span{
      color: #888888;
      font-size: 15pt;
    }

  }


}
