
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-right padding-top>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="adicionarProdutos()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let produto of meusProdutos; let indice=index" ion-col col-5 offset-1 margin-top>
        <ion-card-content>

          <ion-grid>
            <ion-row>
              <ion-col col-12 class="esquerda" text-center>
                <div class="ion-icon-content">
                  <ion-icon name="leaf"></ion-icon>
                </div>
                <p color="white" class="nome-produto">{{produto.produto.designacao}}</p>
                <p color="white" class="quantidade">{{produto.quantidade}} {{produto.unidade_medida.designacao}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>


  <!--<div *ngIf="meusProdutos.length == 0" class="message-empty" text-center>-->
    <!--<span>Quais sao os Produtos que Produz?</span>-->
    <!--<button ion-button color="primary" style="margin-top: 15px" (click)="adicionarProdutos()"><span style="color: white">Adicionar Produtos</span></button>-->
  <!--</div>-->




</ion-content>
