<!--
  Generated template for the DisponibilidadePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar color="primary">-->
    <!--<ion-title>Requisição de Produto</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>


<ion-content>


  <ion-fab bottom right>
      <div *ngIf="saveOrUpdate == true; then salvar else actualizar"></div>

      <ng-template #salvar>
        <button ion-fab color="secondary" (click)="alertDisponibilidade('salvar')" color="blue">
          <ion-icon name="add"></ion-icon>
        </button>
      </ng-template>

      <ng-template #actualizar>
        <button ion-fab color="secondary" (click)="alertDisponibilidade('actualizar')" color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ng-template>

  </ion-fab>



  <div id="header" color="primary" class="produto-view" text-center>

    <ion-fab bottom right edge>
      <button ion-fab color="secondary">
        {{requisicao.procura.quantidade}}  {{requisicao.procura.unidade_medida.abreviatura}}
      </button>
    </ion-fab>

    <div class="ion-icon-content">
      <ion-icon name="leaf"></ion-icon>
    </div>
    <p class="nome-produto">{{requisicao.procura.produto.designacao}}</p>
    <div class="nome-produtor" style="margin-top: 10px; margin-bottom: 10px" (click)="getToProfile(requisicao.revendedor)">
      <ion-icon name="person" icon-start color="white"></ion-icon>
      <span style="color: white; font-size: 12pt">{{requisicao.revendedor.user.nome}}</span>
    </div>
    <div class="nome-mercado">
      <ion-icon name="basket" color="white" icon-start></ion-icon>
      <span style="color: white; font-size: 12pt">{{requisicao.revendedor.mercado.designacao}}</span>
    </div>
  </div>

  <div *ngIf="produtores.length > 0;else sem_disponibilidades">

    <ion-card margin-top="20px" *ngFor="let revendedor of produtores">
      <ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <div id="fotoAgricultor" text-center>
                {{getLetrasIniciais(revendedor.user.nome)}}
              </div>
            </ion-col>

            <ion-col col-9 padding-left="10px">
              <div>
                <h2 id="nome" ion-text>{{revendedor.user.nome}}e</h2>
                <h2>Quantidade: {{revendedor.pivot.quantidade + " "+ requisicao.procura.unidade_medida.abreviatura }}</h2>
                <h2>Preço: {{ revendedor.pivot.preco + " MZN"  }} </h2>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-card-content>
    </ion-card>
  </div>



  <ng-template #sem_disponibilidades>
    <div text-center style="margin-top: 35%">
      <h3 text-center style="color: #666666">Os outros Produtores ainda não Disponibilizaram</h3>
      <button ion-button color="secondary" (click)="alertDisponibilidade('salvar')">Seja o Primeiro</button>
    </div>
  </ng-template>


</ion-content>


<ion-footer style="position: fixed">
  <ion-toolbar style="background-color: #F4F4F4">

    <ion-buttons>
      <button ion-button color="danger" (click)="voltar()">
        Voltar
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
