
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Disponibilizar Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="adicionarProdutos()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  <ion-card *ngFor="let oferta of ofertas; let indice=index">
    <ion-card-content>


      <ion-grid>
        <ion-row>
          <ion-col  col-1 class="linha-esquerda" [style.backgroundColor]="corBarra[indice]? corBarra[indice] : '#11db94'">
          </ion-col>

          <ion-col col-11 class="conteudo-direito">

            <div class="conteudo">
              <div class="nome-produto">
                <ion-icon icon-start name="leaf"></ion-icon>
                <span>{{oferta.produto.designacao}}</span>
              </div>

              <div class="data">
                <ion-icon icon-start name="calendar"></ion-icon>
                <span>{{getData(oferta.created_at.date) | date: 'dd/MM/yyyy'}}</span>
              </div>

              <div class="quantidade">
                <ion-icon name="pricetags" ></ion-icon>
                <span>{{oferta.quantidade}} {{oferta.unidade_medida.designacao}}</span>
              </div>

              <div class="preco" >
                <ion-icon name="cash"></ion-icon>
                <span>{{oferta.tipo_preco == 'total' ? oferta.preco + ' MZN' : oferta.preco_unidade + ' MZN/'+ oferta.unidade_medida.abreviatura  }}</span>
              </div>

              <div>
                <div class="botoes">

                </div>
              </div>
            </div>


          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-card-content>
  </ion-card>



</ion-content>
