page-disponibilizar-produtos {

  ion-card{
    padding: 0!important;
  }


  ion-card-content, ion-grid{
    padding: 0 !important;
    margin: 0 !important;
  }

  ion-card-content .conteudo-direito{
    div.conteudo{
      margin-left: 10px;



      div.nome-produto{
        font-size: 13pt;
        font-weight: 800;
        margin-top:2px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        color: #666;
      }

      div.data{
        font-size: 10pt;
        color: #888;
        margin-top: 0px;
        margin-left: 10px;
      }

      div.preco{
        margin-left: auto;
        display: block;
        float: right;
        font-size: 13pt;
        color: #11db94;
      }

      div.quantidade{
        margin-top: 10px;
        font-size: 11pt;
        font-weight: 800;
        color: #666;
      }

      div.parcelamento{
        margin-top: 10px;
        font-size: 11pt;
        font-weight: 800;
        color: #666;
      }
    }
  }




}
