
<ion-header>

    <ion-navbar color="secondary">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>Mercados</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>


  <ion-fab right bottom>
    <button ion-fab color="blue" (click)="onClickAdicionarMercado()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>


  <mercados *ngFor="let mercado of mercados" [mercado]="mercado"></mercados>


</ion-content>
