
<ion-card class="adv-map">

  <div style="position: relative">
    <img src="../../assets/imgs/mapa-img1.png">
  </div>

  <ion-item>
    <ion-icon color="subtle" large item-start name='md-pin'></ion-icon>
    <h2>Mercado {{mercado.designacao}}</h2>
    <p>Maputo, Cidade de Maputo</p>
  </ion-item>

  <ion-item actions>
    <span ion-text item-start color="primary" class="item-bold">18 min</span>
    <span ion-text item-start color="primary"><ion-icon color="" name="ios-time-outline"></ion-icon></span>
    <button ion-button color="primary" clear item-end icon-start><ion-icon name='person'></ion-icon>Revend: {{mercado.revendedores.length}}</button>
  </ion-item>

</ion-card>




