// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


$fa-font-path: "../assets/fonts" !default;
@import "font-awesome";
i[class^="fa-"], ion-icon[class^="fa-"] {
  font-family: "FontAwesome" !important;
}



.fab {
  contain: initial;
}

ion-fab {
  ion-fab-list button[ion-fab] {
    overflow: visible;

    div.label {
      position: absolute;
      right: 48px;
      background: rgba(0,0,0,0.7);
      height: 24px;
      line-height: 16px;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 3px;
      color: #fff;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    }
  }
}



ion-header.side-header{
  height: 30%;
  background-color: #11db94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-header.side-header div.foto-content-circle{
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon.profile-foto{
    font-size: 95px;
    color: #488aff;
  }

}

div.profile-info{
  margin-top:20px;
}


p{
  margin: 0px;
  color: #fff;
  font-size: 12pt;
}


ion-content.side-content{
  height: 100%;
  background-color: white;
  ion-icon{
    color: #11db94;
  }

  button{
    background-color: white;
    color: black;
  }


  ion-list{
    margin-top: 20px;
    button{
      margin-top:10px;
    }
  }


}


.card:hover {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}

card {
  transition: 0.3s;
  height: 120px;
  padding: 1.5em;
  background-color: #ffffff !important;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2) !important;
}
