
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produtores</ion-title>
  </ion-navbar>
  <ion-toolbar showWhen="ios">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar showWhen="android">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>


  <ion-fab right bottom>
    <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><div class="label">Produtores</div></button>
      <button ion-fab><div class="label">...</div></button>
      <button ion-fab><div class="label">...</div></button>
    </ion-fab-list>
  </ion-fab>



<produtores *ngFor="let produtor of produtores" [produtor]="produtor"></produtores>

</ion-content>

