
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Revendedores</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>


  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="onClickAdicionarRevendedor()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top"></ion-fab-list>
  </ion-fab>


  <revendedores *ngFor="let revendedor of revendedores" [revendedor]="revendedor"></revendedores>


</ion-content>
