<!--
  Generated template for the RegistarProdutosDisponibilizadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Adicionar Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg">

  <ion-list class="lista">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-weight: bold; font-size: 12pt" color="secondary">Informações do Produto</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <button ion-item  (click)="itemSelected('produto')">
          <ion-icon icon-left name="checkmark" color="{{oferta.produto? 'secondary': '#000'}}"></ion-icon>
          <span [ngStyle]="{'color': getColorGreen(oferta.produto)}">{{oferta.produto ? oferta.produto.designacao: 'Nome do produto'}}</span>
        </button>

        <button ion-item  (click)="itemSelected('unidadeMedida')">
          <ion-icon icon-start name="checkmark" [color]="oferta.unidades_medidas? 'secondary': '#000'"></ion-icon>
          <span [ngStyle]="{'color': getColorGreen(oferta.unidades_medidas)}">{{oferta.unidades_medidas ? oferta.unidades_medidas.designacao: 'Unidade de Medida'}}</span>
        </button>

        <button ion-item  (click)="itemSelected('quantidade')">
          <ion-icon icon-start name="checkmark" [color]="oferta.quantidade? 'secondary': '#000'"></ion-icon>
          <span [ngStyle]="{'color': getColorGreen(oferta.quantidade)}">{{oferta.quantidade ? oferta.quantidade + ' '+ (oferta.unidades_medidas ? oferta.unidades_medidas.abreviatura: '') : 'Quantidade'}}</span>
        </button>


          <ion-segment [(ngModel)]="escolher_preco">
            <ion-segment-button value="total" (click)="onPrecoChoice('total')">
              Preço Total
            </ion-segment-button>

            <ion-segment-button value="unidade" (click)="onPrecoChoice('unidade')">
              Preço Unidades
            </ion-segment-button>
          </ion-segment>

        <div [ngSwitch]="escolher_preco">
          <button ion-item  (click)="itemSelected('preco_unidade')" *ngSwitchCase="'unidade'">
            <ion-icon icon-start name="checkmark" [color]="oferta.preco_unidade? 'secondary': '#000'"></ion-icon>
            <span [ngStyle]="{'color': getColorGreen(oferta.preco_unidade)}">{{oferta.preco_unidade ? oferta.preco_unidade + ' MZN / '+ (oferta.unidades_medidas ? oferta.unidades_medidas.abreviatura: ''): 'Preco Unidade'}}</span>
          </button>

          <button ion-item  (click)="itemSelected('preco')" *ngSwitchCase="'total'">
          <ion-icon icon-start name="checkmark" [color]="oferta.preco? 'secondary': '#000'"></ion-icon>
          <span [ngStyle]="{'color': getColorGreen(oferta.preco)}">{{oferta.preco ? oferta.preco + ' MZN': 'Preco Total'}}</span>
          </button>
        </div>


      </ion-card-content>
    </ion-card>





    <div [ngSwitch]="escolher_preco">
      <ion-card *ngSwitchCase="'total'">
        <ion-card-header>
          <ion-card-title style="font-weight: bold; font-size: 12pt" color="secondary">Parcelar Produto (Oferta)?</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row radio-group>

              <ion-segment [(ngModel)]="oferta.is_parcelado">
                <ion-segment-button value="nao">
                  NÃO
                </ion-segment-button>

                <ion-segment-button value="sim">
                  SIM
                </ion-segment-button>
              </ion-segment>

            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>

    </div>



  </ion-list>


  <div [ngSwitch]="oferta.is_parcelado">

    <div text-center *ngSwitchCase="'nao'">
      <button ion-button color="secondary" (click)="salvarOferta()">
        SALVAR
      </button>
    </div>

   <div text-center *ngSwitchCase="'sim'">
     <button ion-button color="secondary" (click)="continuarOferta()">
       CONTINUAR
     </button>
   </div>

  </div>

</ion-content>
