
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Produtos" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mercados" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Produtores" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Revendedores" tabIcon="contacts"></ion-tab>
</ion-tabs>
