<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Registar Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form [formGroup]="myFormGroup" (submit)="salvarProduto()">

          <ion-list>
            <ion-item>
              <ion-icon name="leaf" item-start></ion-icon>
              <ion-label stacked>Nome do Produto:</ion-label>
              <ion-input formControlName="produto" [(ngModel)]="produto.designacao" type="text" placeholder="Produto" clearOnEdit="false"></ion-input>
            </ion-item>

            <ion-item (click)="openCategorias()">
              <ion-icon name="archive" item-start></ion-icon>
              <ion-label stacked>Categoria:</ion-label>
              <ion-input formControlName="categoria" type="text" [(ngModel)]="produto.categoria.designacao" plceholder="Categoria"></ion-input>
            </ion-item>

              <ion-card>
                <ion-item>
                  <ion-icon name="albums" item-start></ion-icon>
                  <ion-label stacked>Varidades do :{{produto.designacao}}</ion-label>
                  <ion-input type="text" formControlName="lastVariedade" [(ngModel)]="produto.lastVariedade"></ion-input>
                  <button ion-button item-end color="secondary" [disabled]="produto.lastVariedade == ''" (click)="addVariedade()">
                    <ion-icon name="add" color="light"></ion-icon>
                  </button>
                </ion-item>

                <ion-card-content>
                  <ion-list>
                    <button ion-item *ngFor="let variedade of produto.variedades">{{variedade}}</button>
                  </ion-list>
                </ion-card-content>
              </ion-card>

            <div margin-top="150px" padding-left="20px" padding-right="20px">
              <button ion-button block color="secondary" type="submit" [disabled]="!myFormGroup">SALVAR</button>
            </div>
          </ion-list>
  </form>

</ion-content>
