
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Mercados</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onClickAdicionar()">
        <ion-icon  [name]="mercadoiconName"  color="white"></ion-icon>
      </button>
    </ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content>


    <div id="map" #map></div>

</ion-content>
